@font-face {
	font-family: 'Nib Pro';
	font-weight: 900;

	src: url('/fonts/NibPro-Black.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 900;
	font-style: italic;

	src: url('/fonts/NibPro-BlackItalic.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 700;

	src: url('/fonts/NibPro-Bold.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 700;
	font-style: italic;

	src: url('/fonts/NibPro-BoldItalic.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 600;

	src: url('/fonts/NibPro-SemiBold.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 600;
	font-style: italic;

	src: url('/fonts/NibPro-SemiBoldItalic.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 400;

	src: url('/fonts/NibPro-Regular.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 400;
	font-style: italic;

	src: url('/fonts/NibPro-Italic.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 300;

	src: url('/fonts/NibPro-Light.woff2');
}

@font-face {
	font-family: 'Nib Pro';
	font-weight: 300;
	font-style: italic;

	src: url('/fonts/NibPro-LightItalic.woff2');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 900;

	src: url('/fonts/Alliance-TextBlack.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 900;
	font-style: italic;

	src: url('/fonts/Alliance-TextBlackItalic.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 700;

	src: url('/fonts/Alliance-TextBold.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 700;
	font-style: italic;

	src: url('/fonts/Alliance-TextBoldItalic.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 600;

	src: url('/fonts/Alliance-TextSemiBold.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 600;
	font-style: italic;

	src: url('/fonts/Alliance-TextSemiBoldItalic.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 500;

	src: url('/fonts/Alliance-TextMedium.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 500;
	font-style: italic;

	src: url('/fonts/Alliance-TextMediumItalic.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 400;

	src: url('/fonts/Alliance-TextRegular.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 400;
	font-style: italic;

	src: url('/fonts/Alliance-TextRegularItalic.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 300;

	src: url('/fonts/Alliance-TextLight.otf');
}

@font-face {
	font-family: 'Alliance Text';
	font-weight: 300;
	font-style: italic;

	src: url('/fonts/Alliance-TextLightItalic.otf');
}

@font-face {
	font-family: 'Mercury Text';
	font-weight: 700;

	src: url('/fonts/MercuryBold.ttf');
}

@font-face {
	font-family: 'Mercury Text';
	font-weight: 700;
	font-style: italic;

	src: url('/fonts/MercuryBoldItalic.ttf');
}

@font-face {
	font-family: 'Mercury Text';
	font-weight: 500;

	src: url('/fonts/MercurySemibold.ttf');
}

@font-face {
	font-family: 'Mercury Text';
	font-weight: 500;
	font-style: italic;

	src: url('/fonts/MercurySemiboldItalic.ttf');
}

@font-face {
	font-family: 'Mercury Text';
	font-weight: 400;

	src: url('/fonts/MercuryRoman.ttf');
}

@font-face {
	font-family: 'Mercury Text';
	font-weight: 400;
	font-style: italic;

	src: url('/fonts/MercuryItalic.ttf');
}