$font-display: 'Nib Pro', serif;
$font-sans: 'Alliance Text', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
	'Segoe UI Symbol', 'Noto Color Emoji';
$font-serif: 'Mercury', Georgia, Cambria, 'Times New Roman', Times, serif;

$black: #111;
$darkwhite: #ddd;
$white: #fcfcfc;
$gray: mix($black, $white, 15%);

$bkg: $white;
$color: $black;
$lightcolor: mix($black, $white, 65%);
$accent: #14918f;
$lightaccent: #27bcb9;

$border: 1px solid $gray;
$border-radius: 10px;

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$mobile: 768px;

$transition-duration: 0.2s;

@mixin transition() {
	transition: color $transition-duration ease-in-out,
	background-color $transition-duration ease-in-out, border-color $transition-duration ease-in-out,
	box-shadow $transition-duration ease-in-out;
}